@model GuideApp.Web.Models.Contact

@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Kişiye ait detaylar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInformation.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInformation.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInformation.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.Location)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Güncelle", "UpdateContact", new { id = Model.ContactId },new {@class="btn btn-outline-warning" }) |

    @Html.ActionLink("İletişim Ekle", "NewContactInfo", "ContactInformation",null,new {@class="btn btn-outline-success" }) |


    <a class="btn btn-outline-danger" asp-action="Index">Listeye Dön</a>

</div>
